.dashboard-wrapper {

  .dashboard-header {
    height: 60px;
  }

  .dashboard-content-wrapper {
    .dashboard-sidebar-wrapper {
      background-color: #ffffff;

      .dashboard-sidebar {
        display: flex;
        flex-direction: column;

        .dashboard-sidebar-buttons {
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin: 8px;
        }
      }
    }

    .dashboard-content {
      height: calc(100vh - 60px);
    }

  }

}